<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.learninglanguage">

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".viewLevel1"></activity>
        <activity android:name=".levelAnimal" />
        <activity
            android:name=".optToAddQuest"
            android:label="Options" />
        <activity
            android:name=".intermediateTestImg"
            android:label="Intermediate Test"></activity>
        <activity
            android:name=".intermediateQuesUpload"
            android:label="Upload questions for Intermediate Level"></activity>
        <activity
            android:name=".levelFruit"
            android:label="Levels" />
        <activity
            android:name=".levelColor"
            android:label="Levels" />
        <activity
            android:name=".Admin_Category_List"
            android:label="List of Categories" />
        <activity android:name=".Admin_category_Adapter" />
        <activity
            android:name=".nothingToDisplay"
            android:label="Nothing To Display" />
        <activity
            android:name=".viewLevels"
            android:label="List of Levels" />
        <activity
            android:name=".Question"
            android:label="Upload Questions" />
        <activity
            android:name=".AdvanceLevel"
            android:label="Alphabet Advance Lesson" />
        <activity
            android:name=".admin.categoryListActivity"
            android:label="List of Categories">

        </activity>
        <activity
            android:name=".admin.UpdateCategory"
            android:label="Update or Delete Category" />
        <activity
            android:name=".adminSongUpload"
            android:label="Upload Sounds" />
        <activity
            android:name=".Animalactivity"
            android:label="Animal Basic Lesson" />
        <activity
            android:name=".basic_test"
            android:label="Alphabet Basic Test" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".intermediate_test"
            android:label="Alphabet Intermediate Test" >

        </activity>
        <activity
            android:name=".adminDashboard"
            android:label="Admin Dashboard" />
        <activity
            android:name=".alphaLesson2"
            android:label="Alphabet Intermediate Lesson" />
        <activity android:name=".admin_level" />
        <activity
            android:name=".alphaLesson1"
            android:label="Alphabet Basic Lesson" />
        <activity android:name=".Advance_admin" />
        <activity
            android:name=".colorActivity"
            android:label="Color Basic Lesson"></activity>
        <activity
            android:name=".fruitActivity"
            android:label="Fruit Basic Lesson"></activity>
        <activity android:name=".admin.addNewCategory" />
        <activity
            android:name=".RESULT_activity"
            android:label="Results" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="Login" >

        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:label="Registration" />
        <activity android:name=".splashs" >

        </activity>
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>