<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.learninglanguage">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".nothingToDisplay"></activity>
        <activity android:name=".viewLevels">

        </activity>
        <activity android:name=".Question">

        </activity>
        <activity android:name=".admin.categoryListActivity">

        </activity>
        <activity android:name=".adminSongUpload" >

        </activity>
        <activity android:name=".basic_test" >


        </activity>
        <activity android:name=".intermediate_test" />
        <activity android:name=".adminDashboard" />
        <activity android:name=".alphaLesson2" >

        </activity>
        <activity android:name=".admin_level" >

        </activity>
        <activity android:name=".alphaLesson1" >


        </activity>
        <activity android:name=".Advance_admin" />
        <activity android:name=".AdvanceLevel" />
        <activity android:name=".colorActivity">

        </activity>
        <activity android:name=".fruitActivity">

        </activity>
        <activity android:name=".admin.addNewCategory" >

        </activity>

        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".splashs" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>